* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e2d5de;
  border-radius: 5px;
  padding: 50px;
}
body {
  background-color: white;
}
.add {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.open-sans {
  font-family: "Varela Round", serif;
  font-weight: 400;
  font-style: normal;
}

button {
  padding: 5px 5px 0px 5px;
  border-radius: 50%;
  border: none;
  background-color: black;
  color: white;
  font-size: 25px;
}
h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
}
input {
  border-radius: 2px;
  border: none;
  font-size: 20px;
  margin-right: 10px;
  /* background-color: grey; */
  outline: none;
  
}
.add input {
  border-radius: 2px;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  margin-right: 10px;
  /* background-color: grey; */
  outline: none;
  width: 500px;
}
svg {
  cursor: pointer;
}
hr {
  margin: 20px 0;
  border-top: 1px solid black;
}
table {
  width: 100%;
  padding: 10px 15px;
}
.t1 {
  width: 90%;
}
table {
  font-size: 25px;
}
td {
  transition: 0.5s;
}

